* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
    font: 13px Helvetica, Arial; 

}
form { 

    /*border: solid;
    border-width: 1px;
    width: 300px;*/
    
    
}
form input { 
   /* margin-left: 2%;
    border: solid;
    border-color: #eee;
    width: 94%;
    font-family: 'Merriweather', serif;
    padding-left: 4px;*/
  
}
form button { 
    
}
#messages { 
    list-style-type: none; 
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    /*border-color: #eee;*/
    min-width: 300px;
    min-height: 330px;
    max-height: 330px;

    overflow: scroll;
    /*border-width: 5px;*/
    /*padding: 5px 10px; */
    
}
#messages li { 
    /*border-style: solid;*/
    font-family: 'Merriweather', serif;
    padding-top: 7px;
    padding-left: 4px;
    padding-bottom: 7px;
}
#messages li:nth-child(odd) { 
    
    background: #eee; 
}
#chat-box {
    width: 66%;
    padding-left: 66%;
    /*padding-left: 47%;
    padding-top: 10%;*/
    /*border: solid;
    border-color: black;*/
    display: inline-block;
    /*position: */

}
#media {
    border: solid;
    border-width: 1px;
    width: 420px;
}

.main-container {
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 5%;
    height: auto;

}

#nickWrap {
    margin-top: 10%;
    margin-left: 35%;
    width: 380px;
    /*border: solid;*/
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.center {
    text-align: center;
}

#m {
    width: 300px;
    /*margin-top: -1px;*/
    margin-left: -1px;
}

#chat-wrap {
    height: 390px;
    
}



