* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
    font: 13px Helvetica, Arial; 
}
form { 
    /*background: #; */
    border: solid;
    border-width: 1px;
    width: 300px;
    /*padding: 3px; */
    /*position: fixed; */
    /*bottom: 0; */
    /*width: 100%; */
    /*min-width: ;*/
    
}
form input { 
    margin-left: 2%;
    border: solid;
    border-color: #eee;
    width: 94%;

    /*border: 1; */
   /* padding: 10px; 
    width: 90%; 
    margin-right: .5%; */
}
form button { 
    
}
#messages { 
    list-style-type: none; 
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    /*border-color: #eee;*/
    min-width: 300px;
    min-height: 330px;
    max-height: 330px;

    overflow: scroll;
    /*border-width: 5px;*/
    /*padding: 5px 10px; */
    
}
#messages li { 
    /*border-style: solid;*/
    
}
#messages li:nth-child(odd) { 
    
    background: #eee; 
}
#chat-box {
    width: 66%;
    padding-left: 66%;
    /*padding-left: 47%;
    padding-top: 10%;*/
    /*border: solid;
    border-color: black;*/
    display: inline-block;
    /*position: */

}
#media {
    border: solid;
    border-width: 1px;
}

.main-container {
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 5%;
}





